{% extends 'base.html' %}


{% block body %}

<script>
	$(function() {
		$( "#id_birthdate" ).datepicker({
			dateFormat: 'dd/mm/yy'
		});
	});
</script>

{% include 'header.html' %}

<div class="col-md-3">
</div>

<div class="col-md-6">
			
			<div class="col-sm-12 page-header form-horizontal">
				<label for="id_photo" class="col-sm-4 control-label"></label>
				<div class="col-sm-8">
					{% if photoprofile.profilepicture.name %}
						<img src="{{ photoprofile.profilepicture.url }}" alt="{{ photoprofile.profilepicture.name }}" class="img-responsive img-rounded" id="id_photo"></img>
					{% else %}
						<img src="{{ STATIC_URL }}img/anonymous.jpeg" id="id_photo"></img>
					{% endif %}
				</div>
			</div>

	<form action='/accounts/editprofile/{{ profile.instance.user_id }}' class="form-horizontal" method='POST' enctype="multipart/form-data">
		{% csrf_token %}
			<div class="form-group">
				<label for="id_profilepicture" class="col-sm-4 control-label">Changer de photo</label>
				<div class="col-sm-8">
					{{ profile.profilepicture }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_username" class="col-sm-4 control-label">Pseudo</label>
				<div class="col-sm-8">
					{{ user.username }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_email" class="col-sm-4 control-label">Email</label>
				<div class="col-sm-8">
					{{ user.email }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_birthdate" class="col-sm-4 control-label">Date de naissance</label>
				<div class="col-sm-8">
					{{ profile.birthdate }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_country" class="col-sm-4 control-label">Pays</label>
				<div class="col-sm-8">
					{{ profile.country }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_city" class="col-sm-4 control-label">Ville</label>
				<div class="col-sm-8">
					{{ profile.city }}
				</div>
			</div>
			<div class="form-group">
				<label for="id_gender" class="col-sm-4 control-label">Genre</label>
				<div class="col-sm-8">
					{{ profile.gender }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-4">
					<input type="submit" class="btn btn-primary btn-block" value="Sauver" />
				</div>
			</div>
	</form>

</div>
<div class="col-md-3"></div> 
{% endblock %}
