{% load network_extras %}
<nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="nav-bar-menu">
    	<ul class="nav navbar-nav">
			<li><a href="/accounts/profile/"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Accueil</a></li>
			<li><a href="/notifications/"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Notifications</a></li>
			<li><a href="/messages/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a></li>
			<li><a href="/relationships/{{user.username}}/following/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Friends<span class="badge">{{user|get_nb_friends}}</span></a></li>
			<li>
			<span class="glyphicon" aria-hidden="true">
				<form class="navbar-search pull-right" action="/searchuser/" method="get">
					<input type="text" name="chaine" class="input-medium search-query">
					<input type="submit" value="Rechercher" class="btn btn-info">
				</form>
			</span>
			</li>
			<li><a href="/accounts/logout/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Logout</a></li>

		</ul>
	</div>
</nav>
