<nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="nav-bar-menu">
    	<ul class="nav navbar-nav">
			<li><a href="/home/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Accueil</a></li>
			<li><a href="/notifications/"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Notifications</a></li>
			<li><a href="/messages/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages</a></li>
			<li>
			<span class="glyphicon" aria-hidden="true">
				<form class="navbar-search pull-right" action="/searchuser/" method="get">
					<input type="text" name="chaine" class="input-medium search-query">
					<input type="submit" value="Rechercher" class="btn btn-info">
				</form>
			</span>
			<li>

		</ul>
	</div>
</nav>
